.profile {
    width: 100vw;
    height: 100vh;
    display: flex;
    color: var(--text-light-gray-color);
}
.profile-info {
    width: 30%;
    height: 100%;
    background-color: var(--prim-black-light);
}
.profile-img {
    width: 200px;
    height: 200px;
    display: block;
    margin: 6% auto;
    border: 1px solid var(--img-border-color);
}
.profile-names {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    margin-left: 5%;
}
.profile-name {
    font-size: 35px;
    font-style: italic;
}
.profile-bio {
    font-size: 15px;
    color: var(--text-dark-gray-color);
    margin: 2% 5% 5% 5%;
}
.profile-status {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: .8rem;
    margin-right: 10%;
    margin-left: 5%;
}
.status-info-icon {
    margin-right: 5px;
}
.status-info-text {
    margin-left: 5px;
}
.status-info {
    display: flex;
    align-items: center;
}
.profile-links {
    font-size: 1.2rem;
    margin-left: 5%;
}
.profile-link {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.profile-link-text {
    margin-left: 10px;
}



.profile-repositories {
    display: block;
    flex-direction: column;
    height: 100vh;
    width: 70%;
    overflow: auto;
    color: var(--prim-black-light );
    font-style: italic;
}
.profile-repository {
    min-height: 60px;
    margin: 20px 40px;
}
.repository-name {
    font-size: 24px;
}
.profile-repository:not(:last-child) {
    border-bottom: 1px solid var(--text-light-gray-color);
}
.repository-description {
    font-style: none;
    font-size: 18px;
    margin: 10px 0;
}
.repository-info {
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.profile-button {
    font-size: 20px;
    padding: 10px;
    margin-top: 10px;
    display: block;
    margin: 20px auto 0 auto;
    background-color: var(--text-light-gray-color);
    border: none;
    font-style: italic;
    transition: 150ms;
}
.profile-button {
    cursor: pointer;
    transform: scale(1.01);
    transition: 150ms;
}

@media only screen and (max-width: 1024px) {
    .profile-status {
        flex-direction: column;
    }
    .profile-name {
        font-size: 1.7rem;
    }
    .profile-links {
        font-size: 1rem;
    }
}
@media only screen and (max-width: 768px) {
    .profile {
        flex-direction: column;
    }
    .profile-repositories {
        overflow: visible;
    }
    .profile-info {
        width: 100%;
        height: auto;
    }
    .profile-name {
        font-size: 3rem;
    }
    .profile-bio {
        font-size: 1.2rem;
    }
    .profile-status {
        flex-direction: row;
        justify-content: space-evenly;
    }
    .profile-links {
        font-size: 1.5rem;
    }
    .profile-button {
        margin-bottom: 10px
    }
    .profile-repositories {
        width: 100%;
    }
}

@media only screen and (max-width: 425px) {
    .profile-name {
        font-size: 2rem;
    }
    .profile-bio {
        font-size: 1rem;
    }
    .profile-status {
        flex-direction: column;
        /* justify-content: space-evenly; */
        font-size: 1.2rem;
    }
    .profile-links {
        font-size: 1.2rem;
    }
    .repository-dot {
        display: none;
    }
    .repository-info {
        flex-direction: column;
        align-items: flex-start;
    }
}